#all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
}
#all img{
    width: 10em;
    height: 7em;
}
#loop{
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 0.7em;
}
#loop:hover{
    background-color: maroon;
    color: darkorange;
    transform: rotateY('angle, 2, 4');
    transition: all ease-in-out 0.5s;
    transform: rotate(350deg);
    transform-origin: 50px;
    border-radius: 10px;
}

#btn{
    display: none;
}
#star{
    width: 7px;
    color: brown;
}

#poto{
    margin-left: -1em;
    margin-right: 6px;
    background-color: blueviolet;
    width: 3em;
    border-radius: 8px;
}
#poto:hover{
    cursor: pointer;
    background-color: slategrey;
    transition-duration: inherit;
    transition: all ease-in-out 3s;
}
/* .bi bi-star{
    margin-right: 10px;
    margin-left: -10px;
} */